<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ITED</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
    </head>
    <body>
        <h1 class="jumbotron text-center main-heading">Images to Editable Documents Converter</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mx-auto">
                    <button class="btn btn-primary w-75">Upload Image</button>
                </div>
                <div class="col-lg-3 mx-auto">
                    <button class="btn btn-primary w-75">Download Document</button>
                </div>
            </div>
        </div>
    </body>
</html>
